In [11]:
import numpy as np
import pandas as pd
import os

os.chdir('..')

In [12]:
data = pd.read_excel('data/nasu1719pr.xlsx',sheet_name='Use BP PxI',header=4)
data = data.iloc[1:106,1:107]
data = data.rename(columns={data.columns[0]: 'product'})
data.head()

,product,"Crop And Animal Production, Hunting And Related Service Activities",Forestry And Logging,Fishing And Aquaculture,Mining Of Coal And Lignite,Extraction Of Crude Petroleum And Natural Gas & Mining Of Metal Ores,Other Mining And Quarrying,Mining Support Service Activities,Processing and preserving of meat and production of meat products,"Processing and preserving of fish, crustaceans, molluscs, fruit and vegetables",...,Human Health Activities,Residential Care & Social Work Activities,"Creative, Arts And Entertainment Activities","Libraries, Archives, Museums And Other Cultural Activities",Gambling And Betting Activities,Sports Activities And Amusement And Recreation Activities,Activities Of Membership Organisations,Repair Of Computers And Personal And Household Goods,Other Personal Service Activities,Activities Of Households As Employers Of Domestic Personnel
1,"Products of agriculture, hunting and related s...",3493.0,0.0,0.0,0.0,0.0,7.0,0.0,5206.0,1282.0,...,14.0,32.0,0.0,0.0,23.0,0.0,0.0,2.0,0.0,0.0
2,"Products of forestry, logging and related serv...",125.0,370.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
3,Fish and other fishing products; aquaculture p...,0.0,0.0,37.0,0.0,0.0,0.0,0.0,0.0,906.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Coal and lignite,0.0,0.0,0.0,13.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0
5,Extraction Of Crude Petroleum And Natural Gas ...,0.0,0.0,0.0,0.0,768.0,13.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0

Examine imports use table

In [13]:
# convert wide table to long table
data_long = pd.melt(data, 
                     id_vars='product', 
                     value_vars=data.columns.to_list()[1:]).dropna()

data_long.shape
data_long.head()

,product,variable,value
0,"Products of agriculture, hunting and related s...","Crop And Animal Production, Hunting And Relate...",3493.0
1,"Products of forestry, logging and related serv...","Crop And Animal Production, Hunting And Relate...",125.0
2,Fish and other fishing products; aquaculture p...,"Crop And Animal Production, Hunting And Relate...",0.0
3,Coal and lignite,"Crop And Animal Production, Hunting And Relate...",0.0
4,Extraction Of Crude Petroleum And Natural Gas ...,"Crop And Animal Production, Hunting And Relate...",0.0

In [14]:
# Strip whitespace from start and finish

def space_stripper(x):
    return x.strip()

data_long[['product','variable']] = data_long[['product','variable']].applymap(lambda x: space_stripper(x))

In [15]:
data_long.rename(columns={'product':'input requirements'}, inplace=True)
data_long.rename(columns={'variable':'industry'}, inplace=True)

In [16]:
data_long['proportion'] = data_long['value'] / data_long.groupby('industry')['value'].transform('sum')

data_long.to_csv('industry_use_cleaned.csv')

In [17]:
data_long.head()

,input requirements,industry,value,proportion
0,"Products of agriculture, hunting and related s...","Crop And Animal Production, Hunting And Relate...",3493.0,0.211211
1,"Products of forestry, logging and related serv...","Crop And Animal Production, Hunting And Relate...",125.0,0.007558
2,Fish and other fishing products; aquaculture p...,"Crop And Animal Production, Hunting And Relate...",0.0,0.000000
3,Coal and lignite,"Crop And Animal Production, Hunting And Relate...",0.0,0.000000
4,Extraction Of Crude Petroleum And Natural Gas ...,"Crop And Animal Production, Hunting And Relate...",0.0,0.000000