In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir('..')

In [4]:
data = pd.read_excel('data/nasu1719pr.xlsx',sheet_name='Effects',header=5)
data = data.iloc[:,1:]
data.tail()

,Product,Intermediate consumption at basic prices,"Use of imported products, cif",Taxes less subsidies on products,Intermediate consumption at purchaser's prices,Compensation of employees,Gross operating surplus and mixed income,Taxes less subsidies on production,Gross value added,Output
100,Sports services and amusement and recreation s...,0.611234,0.075756,0.047420,0.734411,0.574061,0.277951,0.024812,0.876824,1.611234
101,Services furnished by membership organisations...,0.646991,0.072096,0.015336,0.734423,0.663607,0.237182,0.011779,0.912568,1.646991
102,Repair services of computers and personal and ...,0.446764,0.109910,0.006684,0.563359,0.496298,0.379063,0.008045,0.883406,1.446764
103,Other personal services,0.251532,0.059019,0.024091,0.334641,0.302707,0.595216,0.018967,0.916891,1.251532
104,Services of households as employers of domesti...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000

Examine imports use table

In [5]:
data.columns.to_list()[1:]

['Intermediate consumption at basic prices',
 'Use of imported products, cif',
 'Taxes less subsidies on products',
 "Intermediate consumption at purchaser's prices",
 'Compensation of employees',
 'Gross operating surplus and mixed income',
 'Taxes less subsidies on production',
 'Gross value added',
 'Output']

In [6]:
# convert wide table to long table
effects = pd.melt(data, 
                     id_vars='Product', 
                     value_vars=data.columns.to_list()[1:]).dropna()

effects.shape

(945, 3)

In [7]:
effects.head()

,Product,variable,value
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.005450
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.022336
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.071247
3,Coal and lignite,Intermediate consumption at basic prices,0.861165
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,0.599118

In [8]:
# Strip whitespace from start and finish

def space_stripper(x):
    return x.strip()

effects[['Product','variable']] = effects[['Product','variable']].applymap(lambda x: space_stripper(x))

In [9]:
effects['value'] = effects['value'].astype(float)
effects.head()

,Product,variable,value
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.005450
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.022336
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.071247
3,Coal and lignite,Intermediate consumption at basic prices,0.861165
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,0.599118

In [10]:
effects['factor'] = 'total impact'
effects.head()

,Product,variable,value,factor
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.005450,total impact
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.022336,total impact
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.071247,total impact
3,Coal and lignite,Intermediate consumption at basic prices,0.861165,total impact
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,0.599118,total impact

In [11]:
effects.to_csv('data/detailed_effects.csv')